### oops concept in python

In [1]:
# global variable
# local variable
### polymorphism
# inhertance
# encapsulation
# abstraction

In [2]:
class class_name:
    pass
# class_name>>>>>>>>class name
# pass >>placeholder
# class is key word

In [ ]:
class student:
    name ="ritik"  ### class variable
    age = 20   ###class variable
    print(f"my name is {name} and my age is {age}")
obj_st=student()   ###obj_st is object

my name is ritik and my age is 20

In [7]:
obj_st.name

'ritik'

In [8]:
obj_st.age

20

In [33]:
class student:
    name ="ritik"  ### class variable
    age = 20   ###class variable

    def info(self):
        print("this is my method")
        print("hoe are you all")

    
dt_obj= student()

In [34]:
dt_obj.info()

this is my method
hoe are you all

In [35]:
class student:
    name ="ritik"  ### class variable
    age = 20   ###class variable

    def info(self):
        print("name")
        print("age")

    
dt_obj =student()

In [36]:
dt_obj.info()

name
age

In [ ]:
class student:
    name ="ritik"  ### class variable
    age = 20   ###class variable

    def info(self):
        print(f"my name is {self.name} and my age is {self.age}")
    

    
dt_obj =student()

In [ ]:
dt_obj.info()

### inheritance

 ** types of inheritance

 * single inheritance
 * multiple inheritance
 * multilevel inheritance
 * hierarchical inheritance
 * hybrid inheritance

In [ ]:
# class collage:
#     pass

# class student:
#     pass

In [25]:
### single inheritance
class collage:
    pass
class student(collage):
    pass

In [ ]:
class collage:
    collage_name = "raffles university"
    collage_address ="neemrana"

class student(collage):
    student_name ="piyush"
    student_id ="1234"
    
st_obj = student()
print(st_obj.collage_name)
print(st_obj.collage_address)
print(st_obj.student_name)
print(st_obj.student_id)

raffles university
neemrana
piyush
1234

In [52]:
st_obj.collage_address

'neemrana'

In [53]:
st_obj.student_name

'piyush'

In [ ]:
### multiple inhertance
class father:
    father_name = "ritik"
    father_id = "1234"
class uncle:
        uncle_name = "rohit kumar"
class child(father,uncle):
        pass

obj_child= child()
print(obj_child.father_name)
print(obj_child.father_id)
print(obj_child.uncle_name)

ritik
1234
rohit kumar

In [33]:
### multilevel inhertance
class grandfather:
    grandfather_name ="ritik"
    grandfather_id ="1234"
class father(grandfather):
    father_name ="rohit kumar"
    father_id ="123355"

class child(father):
    pass

obj_child =child()
print(obj_child.grandfather_name)
print(obj_child.grandfather_id)
print(obj_child.father_name)
print(obj_child.father_id)

ritik
1234
rohit kumar
123355

In [59]:
### polymorphism
print("hello")

hello

In [58]:
lst =[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [60]:
type(lst)

list

In [2]:
type("hello")

str

In [ ]:
 ### Encapsulation

# private 
# public
# protected
class student:
    __name = "ritik"# private variable 
    age =20  #public 
    id ="1234"  #protected
    
st_obj = student()

In [4]:
st_obj.age

20

In [56]:
st_obj.id:str

In [ ]:
st_obj.__name: str

In [ ]:
# bank 

# accuont numberb private
# Name
# address 
# phone number
# method
# total balance

# class
# method
# inheritance

# task 1>>>> super function
#  task 2>>. bmi calculator   class

In [59]:
class bank:

    accountnumber = "789045"
    accountholdername ="ritik"
    address = "neemrana"
    phonenumber = 2536422563
    method = "cash"
    totalbalance ="4000"
    

st_obj=bank()

In [49]:
st_obj.accountholdername

'ritik'

In [50]:
st_obj.phonenumber

2536422563

In [57]:
st_obj.totalbalance

'4000'

In [ ]:
class bank:
    __account_number ="1254"
    name = "ritik"
    address = "neemrana"

In [62]:
## constructor 
#init method
# __init_

class student:
    def _init_(self):
      pass
student()

In [66]:
class student:
    def __init__(self,name ,age):
        self.name =name
        self.age = age

obj_st = student(name="ritik",age=22)

print(obj_st.name)
print(obj_st.age)

ritik
22

In [64]:
obj_st.age

22

In [74]:
class student:
    def __init__(self,name,age,address):
        self.name = name
        self.age = age 
        self.address = address
    
    def display(self):
        print(f"my name is {self.name}, and my age is {self.age}and my address is {self.address}")



obj_st=student(name="ritik",age=22,address="neemrana")

In [6]:
# class bank
#costructor
#init
#account number private

In [5]:
class bank:
    def __init__(self, name , age ,amount, account_number, phone_number, address):
        self.name =name 
        self.age =age
        self.amount = amount 

        self.__account_number = account_number
        self.phone_number = phone_number
    def deposite(self,amount):
        self.amount = self.amount+amount
        return self.amount
    
    def withdraw(self,amount):
        self.amount = self.amount-amount
        return "success withdraw thanks for using our service"
    
    def total_balance(self):
        return self.amount
    def info(self):
        print("your name",self.name)

bn_obj =bank(name="ritik",amount= 1000,age=22,account_number="67327",phone_number="2357554",address="neemrana")
bn_obj.deposite(300)

1300

In [6]:
bn_obj.amount

1300

In [ ]:
bn_obj.__account_number

In [2]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def show_info(self):
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")


class Employee(Person):
    def __init__(self, name, age, emp_id, salary):
        super().__init__(name, age)      
        self.emp_id = emp_id
        self.salary = salary

    def show_info(self):
        super().show_info()              
        print(f"Employee ID: {self.emp_id}")
        print(f"Salary: ₹{self.salary}")

e1 = Employee("Piyush", 22, "234", 4500)
e1.show_info()

Name: Piyush
Age: 22
Employee ID: 234
Salary: ₹4500

In [2]:
class BMICalculator:
    def __init__(self, weight, height):
        self.weight = weight      # in kilograms
        self.height = height      # in meters

    def calculate_bmi(self):
        bmi = self.weight / (self.height ** 2)
        return bmi

    def interpret_bmi(self):
        bmi = self.calculate_bmi()
        print(f"Your BMI is: {bmi:.2f}")

        if bmi < 18.5:
            print("You are Underweight.")
        elif bmi < 25:
            print("You have Normal weight.")
        elif bmi < 30:
            print("You are Overweight.")
        else:
            print("You are Obese.")


#  Input from user
weight = float(input("Enter your weight in kg: "))
height = float(input("Enter your height in meters: "))

# 🔍 Create object of class
b1 = BMICalculator(weight, height)

#  Perform calculation and print
b1.interpret_bmi()

Your BMI is: 20.37
You have Normal weight.